<!doctype html>
<html>
  <head>
    <title>Welcome to Newshub</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Welcome !!</h1>
  </body>
  <h3><a href='../'>Home </a></h3>
</html>
