<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <%- include('header.ejs') %>
  </head>
  <body>
    <div class="container mt-4">
      <h1>Hello Developers!</h1>
        <p> NewHub api is available for all developers!</p>
        <p> Use your API key to request news and your comments</p>
        <p> See the API Usage section below to get started</p>
      <div class="row">
        <div class="col-md-8">
          <p class="">Here is your API key: <%= apiKey %></p>
        </div>
      </div>

      <h2 class="mt-4">API Usage</h2>
      <div class="row">
        <div class="col-12">
          <section id="search">
            <h2>Search</h2>
            <h3>GET /api/search</h3>
            <p>The API returns news articles based on search criteria.</p>

            <h4>Request Parameters</h4>
            <ul>
              <li><strong>apiKey</strong>: Your API key (Required)</li>
              <li><strong>userName</strong>: Your user name (Required)</li>
              <li><strong>author</strong>: The author name of the articles</li>
              <li><strong>title</strong>: The title of the articles</li>
              <li><strong>description</strong>: The description of the articles</li>
              <li><strong>publishedAt</strong>: The earliest publication date of the articles</li>
              <ul>
                <li>Options: <code>month</code>, <code>week</code>, <code>today</code></li>
              </ul>
            </ul>

            <h4>Response Object</h4>
            <ul>
              <li><strong>statusCode</strong>: The HTTP status code</li>
              <li><strong>result</strong>: The results of the request</li>
              <ul>
                <li><strong>id</strong>: The ID of the news article</li>
                <li><strong>author</strong>: The author of the news article</li>
                <li><strong>title</strong>: The title of the news article</li>
                <li><strong>description</strong>: The description of the news article</li>
                <li><strong>content</strong>: The content of the news article</li>
                <li><strong>url</strong>: The original URL of the news article</li>
                <li><strong>imageUrl</strong>: The thumbnail image URL of the news article</li>
                <li><strong>published_at</strong>: The publication time of the news article</li>
                <li><strong>created_at</strong>: The creation time of the news article</li>
                <li><strong>updated_at</strong>: The updated time of the news article</li>
              </ul>
            </ul>

            <h4>Sample Request and Response</h4>
            <pre><code>
  Request:
    GET /api/search?userName=YourUserName&apiKey=YourAPIKey&description="logo"&publishedAt="month"

  Response:
  {
    "statusCode": 200,
    "result": [
      {
        "id": 27,
        "author": "albertkag",
        "title": "Show HN: Invoice Generator Chrome extension, cloud free, upload logo, save PDF",
        "description": "I have created another invoice maker :) It's cloud free. Works offline. You can upload your logo for the invoice, print or save as PDF. Fast and easy.",
        "content": "Use an online invoice generator software to quickly create an invoice with a free template and get paid faster...",
        "url": "https://chromewebstore.google.com/detail/invoice-generator/mbenhbocjckkbaojacmaepiameldglij",
        "imageUrl": "https://lh3.googleusercontent.com/LPF-w8Z74dNsfwj1cN8rcYYkkValbXxabxZ_2Rzq-oJh1I87KFCTsb41IIxjUmGd0eAcbqGI7WsNjzMbMHYINbKC=s128-rj-sc0x00ffffff",
        "published_at": "2024-11-12T11:08:14.000Z",
        "created_at": "2024-12-04T23:52:16.000Z",
        "updated_at": "2024-12-04T23:52:16.000Z"
      }
    ]
  }
            </code></pre>
          </section>

          <section id="comment" class="mt-4">
            <h2>Comment</h2>
            <h3>GET /api/comments</h3>
            <p>The API returns your comments.</p>

            <h4>Request Parameters</h4>
            <ul>
              <li><strong>apiKey</strong>: Your API key (Required)</li>
              <li><strong>userName</strong>: Your user name (Required)</li>
            </ul>

            <h4>Response Object</h4>
            <ul>
              <li><strong>user_id</strong>: The user ID of the comment</li>
              <li><strong>news_id</strong>: The news ID of the comment</li>
              <li><strong>content</strong>: The text of the comment</li>
              <li><strong>created_at</strong>: The creation time of the comment</li>
              <li><strong>updated_at</strong>: The updated time of the comment</li>
            </ul>

            <h4>Sample Request and Response</h4>
            <pre><code>
  Request:
    GET /api/comments?userName=YourUserName&apiKey=YourAPIKey

  Response:
  {
    "statusCode": 200,
    "result": [
      {
        "user_id": 4,
        "news_id": 10,
        "content": "Heeey",
        "created_at": "2024-12-06T17:56:14.000Z",
        "updated_at": "2024-12-06T17:56:14.000Z"
      }
    ]
  }
            </code></pre>
          </section>

          <section id="post-api-comments" class="mt-4">
            <h3>POST /api/comments</h3>
            <p>The API posts a new comment.</p>

            <h4>Request Parameters</h4>
            <ul>
              <li><strong>apiKey</strong>: Your API key (Required)</li>
              <li><strong>userName</strong>: Your user name (Required)</li>
            </ul>

            <h4>Request Body</h4>
            <ul>
              <li><strong>content</strong>: The text of the comment (Required)</li>
              <li><strong>news_id</strong>: The news ID to which your comment belongs (Required)</li>
            </ul>

            <h4>Response Object</h4>
            <ul>
              <li><strong>statusCode</strong>: The HTTP status code</li>
              <li><strong>result</strong>: The result of the request</li>
            </ul>

            <h4>Sample Request and Response</h4>
            <pre><code>
  Request:
    POST /api/comments?userName=YourUserName&apiKey=YourAPIKey
    body: {"content": "Hey", "news_id": 10}

  Response:
  {
    "statusCode": 201,
    "result": "Your comment is successfully created!"
  }
            </code></pre>
          </section>

          <section id="my-news" class="mt-4">
            <h3>GET /api/my_news</h3>
            <p>The API returns your news articles.</p>

            <div class="row">
              <div class="col-12">
                <h4>Request Parameters</h4>
                <ul>
                  <li><strong>apiKey</strong>: Your API key (Required)</li>
                  <li><strong>userName</strong>: Your user name (Required)</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h4>Response Object</h4>
                <ul>
                  <li><strong>statusCode</strong>: The HTTP status code</li>
                  <li><strong>result</strong>: The results of the request</li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h4>Sample Request and Response</h4>
                <pre><code>
  Request:
    GET /api/my_news?userName=YourUserName&amp;apiKey=YourAPIKey
  Response:
  {
      "statusCode": 200,
      "result": [
          {
              "id": 24,
              "author": "alexdanilowicz",
              "title": "Show HN: Convert any website into a React component",
              "description": "Hey HN, we built a Chrome Extension (https://www.magicpatterns.com/extension) that converts a snippet of any website to an isolated React component. Demo video: https://youtu.be/hutUYDkyE_A. How it works: 1) Iterate through each node in the selected DOM tree, 2)…",
              "content": "Convert HTML from any page to React and/or Figma. Edit with AI. Convert a page or a section of a page to React code or an editable Figma design. What you can do with HTML to React/Figma: - Grab an… [+264 chars]",
              "url": "https://chromewebstore.google.com/detail/html-to-react-figma-by-ma/chgehghmhgihgmpmdjpolhkcnhkokdfp",
              "imageUrl": "https://lh3.googleusercontent.com/3TAiOBbM-XhIIRHO8u0b4sdZ4ytPy2ZTfXKZ_RnlCetU-3u3k99RqJqUD_wNLo03RQUcAb06dmAfMeCESvj4IMdEuw8=s128-rj-sc0x00ffffff",
              "published_at": "2024-11-04T17:03:00.000Z",
              "created_at": "2024-12-04T23:52:16.000Z",
              "updated_at": "2024-12-04T23:52:16.000Z",
              "comment": "Heeeys"
          }
      ]
  }
                </code></pre>
              </div>
            </div>
          </section>
      </div>
    </div>
  </body>
  <%- include('footer.ejs') %>
</html>
