<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a id="home", href="/" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a id="newsLink" href="/news/list" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                News List
              </a>
            </li>
            <li>
              <a id="importLink" href="/news/fetch" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Import
              </a>
            </li>
            <li>
              <a id="findLink", href="/news/search" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Search
              </a>
            </li>
            <li>
              <a id="findLink", href="/news/daily" class="nav-link">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Daily
              </a>
            </li>
            <% if (typeof userSession != 'undefined') { %>
              <li>
                <a id="myNewsLink", href="/news/my_news/<%= userSession %>" class="nav-link">
                  <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                  My News
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </header>

<script>
  var currentPath = window.location.pathname;
  var navLinks = document.querySelectorAll('.nav-link');

  navLinks.forEach(function(link) {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('text-secondary');
    } else {
      link.classList.add('text-white');
    }
  });
</script>
