<!doctype html>
<html>
  <head>
    <title>Welcome to Newshub</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome !!</h1>
    <p><a href="news/list">News list</a></p>
  </body>
</html>
