<!doctype html>
<html>
  <head>
    <title>Welcome to </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Here are the new lists</h1>
    <h2>Here are the books that we sell:</h2>
    <ul>
      <% newsList.forEach(function(item) { %>
      <li><a href="./<%= item.id %>"><%= item.title %></a></li>
        <li>author: <%=item.author %>, description: <%=item.description %> </li>
      <% }) %>
    </ul>
    </body>
</html>
