<!doctype html>
<html>
  <head>
    <title>Search News</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Search News</h1>
    <form action="search_result" method="GET">
      <p>What articles do you want to find?</p>
      <input id="author" type="text" name="author" placeholder="search author">
      <input id="title" type="text" name="title" placeholder="search title">
      <select id="publishedAt" name="publishedAt">
        <option value="" disabled selected >Published</option>
        <option value="month">A Month ago</option>
        <option value="week">A Week ago</option>
        <option value="today">Today</option>
      </select>
      <input type="submit" value="Search" >
    </form>
  </body>
</html>
